body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

div {
  text-align: center;
  margin-top: 30px;
}

h1 {
  font-size: 22px;
  margin-bottom: 20px;
}

input,
textarea {
  display: block;
  width: 300px;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

textarea {
  height: 100px;
  resize: none;
}

button {
    width: 320px;
    height:45px;
  background-color: rgb(14, 14, 44);
  color: rgb(255, 254, 254);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: darkblue;
}