*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#111;
    color:#fff;
    font-family:Arial, Helvetica, sans-serif;
}

.skills-page{
    max-width:1200px;
    margin:auto;
    padding:120px 40px;
}

.skills-title{
    color:#f97316;
    letter-spacing:4px;
    font-size:15px;
    margin-bottom:20px;
}

.skills-page h1{
    font-size:60px;
    margin-bottom:25px;
}

.skills-page h1 span{
    color:#f97316;
}

.skills-text{
    max-width:800px;
    color:#bdbdbd;
    line-height:1.8;
    font-size:18px;
    margin-bottom:60px;
}

.skills-container{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:25px;
}

.skill-card{
    background:#1b1b1b;
    border:1px solid #2b2b2b;
    border-radius:18px;
    padding:30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    transition:.4s;
}

.skill-card:hover{
    transform:translateY(-8px);
    border-color:#f97316;
}

.skill-card h2{
    font-size:24px;
    color:#fff;
}

.skill-card span{
    color:#f97316;
    font-size:22px;
    font-weight:bold;
}

@media(max-width:900px){

.skills-page{
    padding:100px 20px;
}

.skills-page h1{
    font-size:42px;
}

.skills-container{
    grid-template-columns:1fr;
}

.skill-card{
    padding:25px;
}

.skill-card h2{
    font-size:20px;
}

}
.copyright{
    color:#777;
    font-size:15px;
    text-align:center;
}